{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body class="bg-primary-subtle text-white">
<nav class="navbar navbar-expand-lg bg-body-tertiary nar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">主页</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">功能介绍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">关于我们</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if func %}
                        {{ keys|getDictVal:func }}
                        {% else %}
                        图像处理
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu">
                      {% for key, value in keys.items %}
                        <li><a class="dropdown-item" href="{% url 'func' key %}">{{ value }}</a></li>
                      {% endfor %}
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if msg %}
    <div class="alert alert-warning" role="alert">{{ msg }}</div>
{% endif %}
{% if text %}
    <div class="alert alert-info" role="alert">识别结果: {{ text }}</div>
{% endif %}
{% if func %}
<h1>{% if func %}
    {{ keys|getDictVal:func }}
                        {% else %}
                        图像处理
                    {% endif %} -右击处理后的图片来保存或复制链接</h1>
    <div class="container" style="color: black">
        <form action="" method="post" enctype="multipart/form-data">
    {% if func == 'resizeImg' %}
        <div class="mb-3 row">
          <label for="exampleFormControlInput1" class="col-sm-2 form-label " hidden>高度</label>
            <div class="col-sm-8 offset-sm-2">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="高度" name="height"></div>
        </div>
        <div class="mb-3 row">
          <label for="exampleFormControlInput2" class="col-sm-2 form-label " hidden>宽度</label>
            <div class="col-sm-8 offset-sm-2">
          <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="宽度" name="weight"></div>
        </div>
        {% elif func == 'convertImg' %}
        <div class="mb-3 mt-3 row">
          <label for="exampleFormControlInput2" class="col-sm-2 form-label " hidden>格式</label>
            <div class="col-sm-8 col-sm-offset-2">
                <select class="form-select" aria-label="Default select example" name="target_format">
                  <option value="png">png</option>
                  <option value="jpg">jpg</option>
                  <option value="jpeg">jpeg</option>
                </select>
        </div>
        {% elif func == 'convertColor' %}
        <div class="mb-3 mt-3 row">
          <label for="exampleFormControlInput2" class="col-sm-2 form-label " hidden>格式</label>
            <div class="col-sm-8 col-sm-offset-2">
                <select class="form-select" aria-label="Default select example" name="color">
                  <option value="red">蓝底换红底</option>
                  <option value="blue">红底变蓝底</option>
                  <option value="white">红底换白底</option>
                </select>
        </div>
    {% endif %}
    <div class="input-group input-group-lg choose-file" style="margin-top: 20px">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
               aria-label="Upload" accept="image/*" name="img">
        <button class="btn btn-outline-secondary button-colar button-submit" type="submit" id="inputGroupFileAddon04">
            提交
        </button>
    </div>

</form>
    </div>

<div class="showImg">
    <img src="{% static imgName %}" class="img-fluid" alt="加载中" title="处理后的图片">
</div>
    {% else %}
    <h1>请先选择图片处理方法</h1>
{% endif %}

<script src="{% static 'Bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>